<Settings ScriptName="ConfigurationSample" Version="1.0">
    <!-- 
    A General section to configure general settings for the script
    -->
    <General>
        <LogLevel>1</LogLevel>
    </General>
    <!-- 
    A section describing SMTP settings required by the script
    -->
    <SMTP>
        <Server>smtpserver.com</Server>
        <From>healthcheck@dummy.com</From>
        <To>itadmins@dummy.com</To>
        <UseSSL>True</UseSSL>
        <RequireCredentials>False</RequireCredentials>
        <UserName></UserName>
        <EncryptedPassword></EncryptedPassword>
    </SMTP>
</Settings>